@mixin text-logo{
  font-weight: 700;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: 0.03em;
}
@mixin text_networks{
  font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

} 
@mixin text_title{
  font-weight: 700;
    font-size: 28px;
    line-height:1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
@mixin footer_text_contaсts{
  font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--footer-color);
}
@mixin text-prioriti{
font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: var(--text-paragraph-color);
}
@mixin logo{
font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

}
@mixin text{
    font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
}
@mixin text-hedear-link{
  font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
  
}
@mixin text-portfolio-pr{
  font-weight: 400;
    font-size: 16px;
    line-height:calc(30/16) ;
    letter-spacing: 0.03em;
}

@mixin text-header-contaktes{
  font-weight: 500;
    font-size: 12px;
    line-height: calc(12/14);
}
@mixin text-portfolio{
  font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18) ;
    letter-spacing: 0.06em;
}
@mixin mobile{
  @media screen and (min-width:480px){
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width:768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width:1200px) {
    @content;
  }
}