:root {
  --background: #188CE8;
  --accent-color: #2196F3;
  --title-text-color: #212121;
  --text-paragraph-color: #757575;
  --main-color: #FFFFFF;
  --second-color: #2F303A;
  --footer-color: rgba(255, 255, 255, 0.6);
  --color-button: #F5F4FA;
  --color-hover-icone: #2196F3;
  --text-logo: 'Raleway',
    sans-serif;
  --main-text: 'Roboto',
    sans-serif;
}