.link{
  font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  color: var(--text-paragraph-color);
    color: #212121;
}

.bgc{
  background-color: var(--color-button);
  padding-top: 60px;
}

.link{
@include text_title;
margin-bottom: 30px;
}
.no-gap {
  display: block;
  max-width: 100%;
}
.cgr-bloc{
  padding-top: 30px;
    padding-bottom: 30px;
}
.nemes-list{
@include text_networks;
color: var(--title-text-color);
margin-bottom: 10px;
}
.position-list{
@include text_networks;
color: var(--text-paragraph-color);
margin-bottom: 16px;
}
.networks-position{
  width: 44px;
    height: 44px;
}
.networks-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 2);

}
.no-gap {
  width: 100%;

  max-width: 100%;
}
.networks{
    display: flex;
      gap: 10px;
      justify-content: center;
}
.theme-bloc {
  margin-bottom: 30px;
  background-color: var(--main-color);
  width: 100%;
  box-shadow:
    0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

}


@include tablet{
  .theme{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .theme-bloc{
  background-color: var(--main-color);
    width: calc((100% - 30px)/2);
    box-shadow:
      0px 2px 1px rgba(0, 0, 0, 0.2),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
}
@include desktop{
  .theme {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    .theme-bloc{
        width: calc((100% - 90px)/4);
    }

}